@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  color: white;
}

.header {
  padding-top: 34px;
  background-color: antiquewhite;
  width: 100%;
  height: 600px;
}
a {
  text-decoration: none !important;
}
nav {
  height: 50px;
  padding: 10px 10px 0 30px;
  /* background-color: transparent; */
  width: 680px;
  margin: 0px 400px;
  border: 2px solid #18254a;
  border-radius: 50px;
}
.sticky {
  position: fixed;
  top: 2px;
  /* background-color: hsla(89, 43%, 51%, 0.3); */
  border: none;
}
nav a {
  padding-right: 45px;
  color: #025a4e;
}
.footer {
  background-color: #18254a;
}
.inf {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 1220px;
  margin: 0 auto;
}
.content {
  background-color: black;
}
