@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}
.containe {
  color: white;
}
canvas {
  position: absolute;
  top: 0;
  left: 0;
  height: 540px;
  width: 100%;
}
.header {
  padding-top: 34px;
  /* background-image: linear-gradient(135deg, #008aff, #86d472); */
  color: #fff;
  width: 100%;
  height: 540px;
  margin: 0;
  padding: 0;
  overflow: hidden;

  /* height: 540px; */
}
a {
  text-decoration: none !important;
}
nav {
  height: 50px;
  padding: 10px 10px 0 30px;
  /* background-color: transparent; */
  width: 680px;
  margin: 0px 480px;
  border: 2px solid #18254a;
  border-radius: 50px;
}
.sticky {
  position: fixed;
  top: 2px;
  /* background-color: hsla(89, 43%, 51%, 0.3); */
  border: none;
}
nav a {
  padding-right: 45px;
  color: #0dad98;
}
.footer {
  background-color: #18254a;
  padding-top: 30px;
}
.inf {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 1220px;
  margin: 0 auto;
}
.content {
  background-color: black;
}
.hct {
  text-align: center;
  position: relative;
  padding-top: 40px;
}
.hct img {
  border-radius: 50%;
  margin: 40px auto;
}
.hct h1 {
  font-size: 54px;
}
.hct i {
  font-size: 24px;
  margin: 10px 10px;
}
#intro {
  font-size: 35px;
}
.content {
  height: 360px;
  padding: 40px 120px;
}
.content p {
  font-size: 26px;
  margin-top: 40px;
}
/* about page */
.ab-tt {
  margin-top: 120px;
  font-weight: 700;
}
.ab-content {
  color: #18254a;
  width: 1220px;
  margin: 0 auto;
  padding: 40px;
}
.ab-content h2 {
  padding-bottom: 20px;
}
.ab-ct1 {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}
.about {
  margin: auto;
}

.about button,
button a {
  background-color: #0a66c2;
  color: white;
  border: none;
  height: 40px;
  width: 80px;
}
.about button:hover,
button:hover a {
  /* border: 2px solid #18254a; */
  background-color: #fff;
  color: #0a66c2;
}
.ab-ct2,
.ab-ct3 {
  width: 1220px;
  margin: 0 auto;
  padding: 40px;
}
.ab-ct-edu {
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.ab-ct-edu ul {
  padding: 0;
}
:root {
  --surface-color: #fff;
  --curve: 40;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card-gg {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(var(--curve) * 1px);
  background-color: var(--surface-color);
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card-gg:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: var(--surface-color);
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card-gg:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1em;
  margin: 0 0 0.3em;
  color: #6a515e;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: 0.8em;
  color: #d7bdca;
}

.card__status {
  font-size: 0.8em;
  color: #d7bdca;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #d7bdca;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.my-projects {
  color: #18254a;
  text-align: center;
  margin: 80px 0;
}
.ex-more {
  text-align: center;
  padding: 20px;
}
.ex-more:hover {
  text-decoration-line: underline;
}
/* contact */
.contact {
  color: #18254a;
  width: 1220px;
  margin: auto;
}
.contact h1 {
  padding: 40px 0;
}
.stranger {
  margin-top: 30px;
}
.contact form {
  margin: 80px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.2fr;
  column-gap: 5px;
}
form input {
  margin: 20px 0;
}
form button {
  margin-top: 68px;
}
