.projects {
  width: 1220px;
  color: #090a0a;
  margin: 80px auto;
}
.editform {
  width: 1220px;
  margin: auto;
  color: #090a0a;
  padding-top: 40px;
}
.form_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.form_grid button {
  width: 80px;
}
.editform input {
  width: 80%;
  margin: 20px 0;
}
.nav {
  height: 48px;
  padding: 10px 10px 0 30px;
  /* background-color: transparent; */
  width: 800px;
  margin: 5px auto;
  border-radius: 50px;
}
.nav a {
  padding-right: 45px;
  text-decoration: none;
  color: #090a0a;
}
.nava {
  display: inline;
  padding: 9px 0 10px 32px;
  margin: 5px 2px 0;
  border-radius: 50px;
}
.nava:hover {
  background-color: #f8f8f9;
}
.admin_h {
  width: 100%;
  /* background-color: #0dad98; */
  padding-top: 0.5px;
}
.inline {
  margin-bottom: 20px;
}
.btn {
  height: 40px;
  margin: auto;
}
.error input {
  border-color: #ff3860;
}
.error {
  color: #ff3860;
  font-size: 12px;
  height: 13px;
  margin-bottom: 20px;
}
.infor input {
  width: 80%;
  height: 38px;
  border-radius: 5px;
  padding-left: 20px;
  margin: 20px 0;
}
.infor textarea {
  margin: 20px 0;
  height: 140px;
}
.edName {
  color: #ff3860;
}
